[ req ]
default_bits       = 4096
prompt             = no
default_md         = sha256
req_extensions     = req_ext
distinguished_name = dn

[ dn ]
CN = kafka-proxy.kafka.svc

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = kafka-proxy-0.kafka.svc
DNS.2 = kafka-proxy-1.kafka.svc
DNS.3 = kafka-proxy-2.kafka.svc
DNS.4 = kafka-proxy.kafka.svc
DNS.5 = localhost
